{{>header}}
<h1>Get Ready For New Heights ...</h1>

{{#prepareList}}
   <div class="card">
       <p><b>Question : </b>{{question}}</p>
       <b>Answer : </b>{{answer}}
   </div>
   <br>
{{/prepareList}}
{{>footer}}
